---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "UTF-8";

// Import FONTS
/* merriweather-regular - latin */
@font-face {
    font-family: 'GFMSwb';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'),url('../fonts/montserrat-v14-latin-regular.woff') format('woff');
}
/* merriweather-regular - latin */
@font-face {
    font-family: 'GFMWwb';
    font-style: normal;
    font-weight: 400;
    src:local('Merriweather Regular'),local('Merriweather-Regular'),url('../fonts/merriweather-v21-latin-regular.woff2') format('woff2'),url('../fonts/merriweather-v21-latin-regular.woff') format('woff');
}

// Variables
$pri-font-family:  'GFMWwb', serif;
$sec-font-family:  'GFMSwb', sans-serif;
$thi-font-family:  'GFMWwb','GFMSwb', sans-serif;
$pri-font-size:    16px;
$small-font-size:  12px;
$pri-line-height:  1.6;
$aresponse:        85em;
$bresponse:        65em;
$cresponse:        30em;

$bg-l:             #f3f5f3;
$bg-d:             #0e0e10;
$text-white:       mix($bg-l,$bg-d,90%);
$text-black:       mix($bg-d,$bg-l,90%);

$pri-color:        #91A7AE;
$sec-color:        #417090;
$ter-color:        darken($sec-color,15);
$for-color:        #cd596b;

$extra-color:      mix($bg-l,$bg-d,50%);

$max-width:        51;

// Import from _sass
@import "mixins", "base", "list", "nav", "sidebar",
        "sidebars", "grid", "novel", "responsive";
