<input type="checkbox" id="chapters-nav" class="sb-ctrl">
<nav class="sidebar">
    <li><label for="chapters-nav">Chapters</label></li>
    <div class="list-hide">
        <ul>
            {% for _page in site[page.collection] reversed %}
            {% if _page.layout == "chapter" %}
            <li>
                <a href="{{ site.baseurl }}{{ _page.url }}">
                    <b> {{ _page.slug | plus: 0 }}. </b>
                    {{ _page.title }}
                </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</nav>
