<nav id="footer" class="navbar">
    <div id="nav-wrapper">
        {% include navigation.html %}

        {% if page.layout == "default" %}
        {% include latest.html %}
        {% endif %}

        {% if page.layout == "default" %}
        {% include history.html %}
        {% endif %}

        {% if page.layout == "novel" %}
        <div id="feed" class="nav-block navB navL">
            <a href="{{ site.baseurl }}/feed/{{ page.novel }}.xml">
                Feed
            </a>
        </div>
        {% endif %}

        <div id="toTop" style="display:none;"
             class="nav-block navB navC">
            <a href="#top">Top</a>
        </div>
    </div>
</nav>


<script type='text/javascript'>
 document.getElementById("toTop").style.display = "none";
 window.onscroll = function() {
     if (document.body.scrollTop > 50 ||
         document.documentElement.scrollTop > 50) {
         document.getElementById("toTop").style.display = "block";
     } else {
         document.getElementById("toTop").style.display = "none";
     }
 };
</script>
