<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }} {% if page.project %}| {{ page.project }}{% elsif page.title %}| {{ page.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
  <script>
   const theme = localStorage.getItem('theme');
   if (theme === "dark") {
		   document.documentElement.setAttribute('data-theme', 'dark');
   } else {
       document.documentElement.setAttribute('data-theme', 'light');
   }
   var el = document.documentElement;
   var size = localStorage.getItem('fontsize');
   if (!(size >= 8)) {
       var style = window.getComputedStyle(el, null)
                         .getPropertyValue('--font-size');
       size = parseFloat(style);
       localStorage.setItem('fontsize', size);
   }
   el.style.setProperty('--font-size', size + "px");
  </script>

  <link rel="shortcut icon" type="image/png" href="{{site.baseurl}}/favicon.png">
  <link rel="icon" type="image/png" href="{{site.baseurl}}/favicon.png">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.baseurl }}/feed.xml" />

  <script src="{{ site.baseurl }}/js/moment.js"></script>
  <script src="{{ site.baseurl }}/js/search.js"></script>
</head>

