<div id="nav-top"></div>
<input type="checkbox" id="side-ctrl" class="sb-ctrl-e">
<nav id="side-nav" class="sidebar">
    <label for="side-ctrl" class="nav-block navL navT">
        <span class="line top">
        </span>
	      <span class="line center"></span>
	      <span class="line bottom">
        </span>
    </label>
    <div class="list-wrapper">
        <ul>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="https://www.patreon.com/arxscio">Patreon</a></li>
            <li> <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=BBTNANVNRCXEC&source=url">Paypal</a></li>

            {% include links.html %}
            {% include feeds.html %}
            {% include config.html %}

            {% if page.layout == "chapter" %}
            {% include chapters.html %}
            {% endif %}

            {% if page.layout == "default" %}
            {% include latest.html %}
            {% endif %}

            {% if page.layout == "default" %}
            {% include history.html %}
            {% endif %}
        </ul>

    </div>
</nav>
