<nav id="archive" class="list-wrapper"> <ul>
    {% for _cl in site.collections %}
    {% if _cl.docs.first.layout == "novel" %} <li>
    <nav class="sidebar">
        <div class="list-wrapper">
            <ul>
                {% for _page in _cl.docs %}
                {% if _page.layout == "chapter" %}
                <li>
                    <a href="{{_page.url|prepend:site.baseurl}}">
                        <b>{{_page.slug|plus:0}}. </b>
                        {{_page.title}}
                    </a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </nav>
    </li> {% endif %}
    {% endfor %}
</ul> </nav>


<style>
 #archive {
     @include POS(fixed,0,20em,0,0);
     width:16em;
     //background: var(--bg-color);
     display:flex;flex-direction:column;flex-wrap: wrap;
     justify-content: center; 
     >ul {
         margin:0;padding:0;
         >li {
             padding:0;height:2em;width:2em;
             border:none;
             >nav {
                 //padding-left:2em;
                 height:2em;width:2em;
                 &:before {
                     content:"";
                     @include roundIt(1em);
                     background:rgba(144,144,144,0.2);
                     width:1em;height:1em;
                     margin:0.5em;
                     position:absolute;left:0;
                 }
             }
             &:hover {
                 background:var(--t-color2);
             }
         }
     }
     overflow:hidden;
     .sidebar:hover .list-wrapper {
         display: block;visibility:visible;
         @include transform(0);
     }
     .sidebar {
         .list-wrapper {
             display:block;visibility:hidden;
             margin:0;padding:0;
             margin-left:2em;
             width:calc(100% - 2em);
             height:100%;
             position:absolute;left:0;top:0;
             @include transform(100%);
             @include transition(transform,visibility);
             padding-top:4em;
             padding-bottom:4em;
             background:var(--t-color2);
             ul {
                 margin:0;padding:0;border:0;
                 li {
                     border:0;
                     padding-left:1em; padding-right:1em;
                 }
             }
         }
     }
 }
</style>
