.list-wrapper {
    @include BLO(100%);
    ul { margin-top: 1em; margin-bottom: 1em; }
    li {
        @include BLO($p:0.25em);@include ELLIP();line-height:2;
        @include PAD(0.5em,0.5em);
        border-bottom: 1px solid rgba(144,144,144,0.2);
        a {@include BLO();@include ELLIP();text-decoration:none;}
        &:hover {
            background: rgba(144,144,144,0.1);
            border-bottom: 1px solid var(--sec-color);
        }
        &:active { background: rgba(144,144,144,0.2); }
    }
    .list-title {
        @include BLO($ta:center,$cl:var(--sec-color));
        @include tshadow();
        margin-top:0.75em;margin-bottom:0.8em;
        font-size:1.2em;line-height:1.5;font-weight:bold;
        display:flex;justify-content:center;align-items:center;
        &:before, &:after {
            content:'';border-top: 1px solid rgba(144,144,144,0.3);
            margin: 0 0.5em 0 0; flex: 1 0 0.5em;
        }
        &:after { margin: 0 0 0 0.5em; }
    }
    .list-itemR { float: right; padding-right: 2px; }
    .list-sub {
        @include BLO();line-height:1.5;
        border: 0; font-size:1.1em; margin:0.5em;
        color: var(--ter-color); text-align: left;
    }
}
