#nav-wrapper {
    position:relative;height:100%;width:100%;
    max-width:calc(#{$max-width} * var(--font-size));margin:auto;
}
footer {position:absolute;bottom:0;width:100%;left:0}
article { padding-bottom:3.75em; }
//--
.nav-block {
    @include POS(absolute,$zi:20,$o:visible);@include tshadow();
    width:auto;height:auto;background:none;margin:0.8em;
    cursor:pointer;line-height:1;font-family: $thi-font-family;
    font-size:1.25em;margin-top:1em;margin-bottom:1em;
    a {
        @include BLO($ta:center,$cl:var(--pri-color));
        @include noselect();text-decoration:none;font-weight:bold;
    }
    &:hover a { color:var(--sec-color); }
    &:active a { color: var(--ter-color); }
}

