.novel-cover{margin:auto;margin-top:1em;width:100%;height: auto;}

#search-input {
    width:100%;margin:0;padding:0;line-height:1.5;
    @include PAD(1.75em,1.75em);font-family: $pri-font-family;
    background:rgba(125,125,125,0.05);font-size:1.1em;
    border: 1px solid rgba(125,125,125,0.3);color:var(--t-color1);
}
#results {
    background:rgba(125,125,125,0.05);margin-top:0;
    text-align:center;line-height:2;li{text-align:left;}
}

//**name**![map](./map.png#map)
img[src$='#map'] {
    @include POS(fixed,1em,1em,50%);
    @include BLO($m:auto);
    @include shadow();
    pointer-events: none;
    max-width:calc(100% - 2em);
    max-height:calc(100% - 2*var(--nav-width));
    border:3px solid var(--sec-color);
    display: none;
    transform: translate(0%, -50%);
}
strong:hover + img[src$='#map'] {
    display: block;
}
