@media (max-width: 768px) {
    :root { --font-size: 15px; }
    html { font-size: 15px; }
}

@media (min-width: 768px) {
    :root { --font-size: 15px; }
    html { font-size: 15px; }
}

@media (min-width: 1000px) {
    :root { --font-size: 16px; }
    html { font-size: 16px; }
}

@media (min-width: 1400px) {
    :root { --font-size: 18px; }
    html { font-size: 18px; }
}

// --

.navL { left: 0em; a { text-align:left; } }
.navR { right: 0em; a { text-align:right; } }
.navT { top: 0em; }
.navB { bottom: 0em; }
.navM { top: 50%; transform: translate(0%, -50%); }
.navC {
    left: 50%; transform: translate(-50%, 0%);
    margin-left:0;margin-right:0;
}
