<!DOCTYPE html>
<html lang="en" id="top">
    {% include head.html %}
    <body>
        {% include header.html %}
        <main> {{ content }} </main>
        {% include footer.html %}
    </body>
</html>

<script>
 var ctrls = document.querySelectorAll('.sb-ctrl');
 ctrls.forEach(function(i) {
     i.addEventListener("click", function(e) {
         ctrls.forEach(function(j){if(j.id!==i.id)j.checked=false;});
         e.stopPropagation();
     });
 });
 document.querySelectorAll('.sidebar').forEach(function(i) {
     i.addEventListener("click",function(e){e.stopPropagation();});
 });
 document.addEventListener("click",function() {
     ctrls.forEach(function(j){j.checked=false;});
 });
</script>
