<!DOCTYPE html>
<html lang="en" id="top">
    {% include head.html %}
    <body>
        <main> {{ content }} </main>
        {% include menu.html %}
    </body>
</html>

<script>
 var ct1 = document.querySelectorAll('.sb-ctrl');
 var ct2 = document.querySelectorAll('.sb-ctrl-e');
 ct1.forEach(function(i) {
     i.addEventListener("click", function(e) {
         ct1.forEach(function(j){if(j.id!==i.id)j.checked=false;});
         e.stopPropagation();
     });
 });
 ct2.forEach(function(i) {
     i.addEventListener("click", function(e) {
         ct1.forEach(function(j){if(j.id!==i.id)j.checked=false;});
         ct2.forEach(function(j){if(j.id!==i.id)j.checked=false;});
         e.stopPropagation();
     });
 });
 document.querySelectorAll('.sidebar-e').forEach(function(i) {
     i.addEventListener("click",function(e){e.stopPropagation();});
 });
 document.querySelectorAll('.sidebar').forEach(function(i) {
     i.addEventListener("click",function(e){e.stopPropagation();});
 });
 document.addEventListener("click",function() {
     ct1.forEach(function(j){j.checked=false;});
     ct2.forEach(function(j){j.checked=false;});
 });
</script>
